html,
body {
	max-width: 100%;
	height: 100%;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 16px;
}
body{
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #808080;
}
input, button {
	-webkit-appearance: none;
}

a{
	color: #808080;
	text-decoration: none;
}

ol,
ul,
nav {
	list-style: none;
}

img {
	display: block;
}

*:focus {
	outline: none;
}


.main{
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	padding: vw(30) 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../images/background.png") center center no-repeat;
	background-size: auto 100%;
	@include m1024{
		padding: vw2(30) 0;
	}
}

.title{
	font-size: vw(24.9);
	line-height: vw(24);
	text-transform: uppercase;
	text-align: center;
	@include m1024{
		font-size: vw2(24.9);
		line-height: vw2(24);
	}
}
.title2{
	font-size: vw(18);
	line-height: vw(24);
	text-transform: uppercase;
	text-align: center;
	@include m1024{
		font-size: vw2(18);
		line-height: vw2(24);
	}
}
.logo{
	margin-bottom: vw(59);
	margin-top: vw(63);
	width: vw(357);
	height: vw(68);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: vw(14);
	&::after{
		content: "";
		display: block;
		width: vw(17);
		height: vw(17);
		position: absolute;
		right: 0;
		top: 0;
		background: url("../images/trademark.svg") center center no-repeat;
		background-size: contain;
	}
	@include m1024{
		margin-bottom: vw2(59);
		margin-top: vw2(63);
		width: vw2(357);
		height: vw2(68);
		padding-right: vw2(14);
		&::after {
			width: vw2(17);
			height: vw2(17);
		}
	}
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
	&__blick{
		width: vw(68);
		height: vw(68);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		border-radius: 100%;
		overflow: hidden;
		@include m1024{
			width: vw2(68);
			height: vw2(68);
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: -130%;
			width: 100%;
			height: 100%;
			background: linear-gradient(to left, rgba(121, 117, 117, 0), rgba(255,255,255,.8), rgba(121, 117, 117, 0)) no-repeat 0 0%;
			background-size: vw(50) 100%;
			-moz-transform: skewX(-50deg);
			-o-transform: skewX(-50deg);
			-webkit-transform: skewX(-50deg);
			transform: skewX(-50deg);
			@include m1024{
				background-size: vw2(50) 100%;
			}
		}
		&.blink_on::after{
			transition: 1s linear;
			left: 130%;
		}
	}
}
.logo2{
	margin-bottom: vw(54);
	margin-top: vw(55);
	width: vw(371);
	height: vw(78);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	@include m1024{
		margin-bottom: vw2(54);
		margin-top: vw2(55);
		width: vw2(371);
		height: vw2(78);
	}
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
	&__blick{
		width: vw(78);
		height: vw(78);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		border-radius: 100%;
		overflow: hidden;
		@include m1024{
			width: vw2(78);
			height: vw2(78);
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: -130%;
			width: 100%;
			height: 100%;
			background: linear-gradient(to left, rgba(121, 117, 117, 0), rgba(255,255,255,.8), rgba(121, 117, 117, 0)) no-repeat 0 0%;
			background-size: vw(50) 100%;
			-moz-transform: skewX(-50deg);
			-o-transform: skewX(-50deg);
			-webkit-transform: skewX(-50deg);
			transform: skewX(-50deg);
			@include m1024{
				background-size: vw2(50) 100%;
			}
		}
		&.blink_on::after{
			transition: 1s linear;
			left: 130%;
		}
	}
}

.info{
	font-size: vw(11);
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	text-align: center;
	margin-bottom: vw(22);
	@include m1024{
		font-size: vw2(11);
		margin-bottom: vw2(22);
	}
	span{
		letter-spacing: -0.04em;
		border-bottom: 1px solid #cccccc;
	}
}

.contacts{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	&__item{
		margin: 0 vw(7.5);
		display: flex;
		align-items: center;
		@include m1024{
			margin: 0 vw2(7.5);
		}
		&-icon{
			flex-shrink: 0;
			margin-right: vw(5);
			width: vw(12);
			height: vw(12);
			display: block;
			@include m1024{
				margin-right: vw2(5);
				width: vw2(12);
				height: vw2(12);
			}
			img{
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		&-link{
			font-size: vw(12.4);
			line-height: vw(12);
			@include m1024{
				font-size: vw2(12.4);
				line-height: vw2(12);
			}
			&.email{
				letter-spacing: -0.08em;
			}
		}
	}
	&-2{
		.contacts__item{
			margin: 0 !important;
			+.contacts__item{
				margin-left: vw(35) !important;
				@include m1024{
					margin-left: vw2(35) !important;
				}
			}
		}
	}
}

.apples{
	margin: vw(135) auto 0;
	width: vw(185);
	@include m1024{
		margin: vw2(135) auto 0;
		width: vw2(185);
	}
	img{
		width: 100%;
	}
}